{% load static %}

<!-- FOOTER START -->
    <footer>
        <!-- Footer-area start -->
        <div class="footer-area footer-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                        <div class="single-footer">
                            <h3 class="footer-title  title-border">Na kontaktoni</h3>
                            <ul class="footer-contact">
                                <li><span>Adresa :</span>Rruga Aleksandër Moisiu 36<br>Tiranë 1005</li>
                                <li><span>Tel :</span>04 222 3077</li>
                                <li><span>Email :</span>info.doit@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <div class="single-footer">
                            <h3 class="footer-title  title-border">Faqet</h3>
                            <ul class="footer-menu">
                                <li><a href="{% url 'vendor_admin' %}"><i class="zmdi zmdi-dot-circle"></i>Llogaria ime</a></li>
                                <li><a href="{% url 'cart' %}"><i class="zmdi zmdi-dot-circle"></i>Shporta</a></li>
                                <li><a href="{% url 'become_vendor' %}"><i class="zmdi zmdi-dot-circle"></i>Regjistrohu</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 hidden-sm col-xs-12">
                        <div class="single-footer">
                            <h3 class="footer-title  title-border">Profilet</h3>
                            <ul class="footer-menu">
                                <li><a href="{% url 'vendors' %}"><i class="zmdi zmdi-dot-circle"></i>Artizanet</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="single-footer">
                            <h3 class="footer-title  title-border">Sponsor</h3>
                            <div class="footer-subscribe">
                                <p>Projekt i financuar nga <a href="https://kultura.gov.al/al/" style=" border-bottom: #EA215A 0.125em solid;">Ministria e Kultures</a></p>

                                <a href="https://kultura.gov.al/al/"><img src="{% static 'banner/logo_kultura.jpeg'%}" style="  border-radius: 50%;width:100px;" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-area end -->
        <!-- Copyright-area start -->
        <div class="copyright-area copyright-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="copyright">
                            <p class="mb-0">&copy; <a href="#" target="_blank">DoiT </a> 2021. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="payment  text-right">
                            <a href="#"><img src="img/payment/1.png" alt="" /></a>
                            <a href="#"><img src="img/payment/2.png" alt="" /></a>
                            <a href="#"><img src="img/payment/3.png" alt="" /></a>
                            <a href="#"><img src="img/payment/4.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright-area start -->
    </footer>
    <!-- FOOTER END -->
    